---
const allPosts = await Astro.glob("../pages/posts/*.md");
const {Chosentag} = Astro.props;
---
<div class ="tagcontainer">
    <div class="chosentag">
    {allPosts.filter(post => post.frontmatter.tags.includes(Chosentag)).map(filteredpost =>(
        <a href={filteredpost.url}><h3>{filteredpost.frontmatter.title}</h3></a>
        <img src={filteredpost.frontmatter.image.url} alt={filteredpost.frontmatter.image.alt}>
    ))}
    </div>
</div>
<style>
img {
    width: 60%;
    display: block;
}
a {
font-size: 20px;
}
a:visited{
color: #cdd6f4;
}

</style>
