---
import BaseLayout from "./BaseLayout.astro";
import Comments from "../components/Comments.jsx"
const {frontmatter} = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <img src={frontmatter.image.url}>
    <div class="md-content" >
        <div
            class="frontmatter">
            <p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
            <p>Written by {frontmatter.author}</p>
        </div>
        <hr class=solid style="border-top: 3px solid" >
        <slot />
        <hr class=solid style="border-top: 3px solid" >
            <div class="tags">
                {frontmatter.tags.map((tag)=>(
                <p class="tag"><a href=`/tags/${tag}`>{tag}</a></p>
                ))}
        
            </div>
    </div>
<script src="https://utteranc.es/client.js"
        repo="nwpulverizer/utterances-component"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
</BaseLayout>
<style>
img {
    width: 40em;
    text-align: center;
}
  a {
    color: #8087a2;
;
  }

  .tags {
    display: flex; 
    flex-wrap: wrap; 
    align-items:center;
    justify-content:flex-start;
  }

  .tag {
    margin: 0.25em;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #74c7ec;
}
.frontmatter {
    
}
  
</style>
